<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Please login to goto dashboard.</h2>
  </body>
  <button><a href="/login">Login</a></button>
  <button><a href="/signup">Not a member?</a></button>
</html>
