<!DOCTYPE html>
<html>
<head>
	<title> login </title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="login">
		<fieldset>
			<legend>Login</legend>
				<form method="post" action="/login">
					<p>Name:</p><input type="text" name="username" id="nameInput"> <br/>
					<p>Password:</p><input type="password" name="password" id="passwordInput"> <br/>
					<button type="submit"> Login</button> </br>
			    </form>
		</fieldset>
	</div>
	
</body>
</html>
