<!DOCTYPE html>
<html>
<head>
	<title> signup </title>
</head>
<body>
	<fieldset><legend>Sign up</legend>
		<form method="post" action="/signup">
			  name:<input type="text" name="username" id="nameInput"> <br/>
			  password:<input type="password" name="password" id="passwordInput"> <br/>
			  confirm password:<input type="password" name="confirmPassword" id="confirmPassword">
			  email:<input type="email" name="email" id="emailInput"><br/>
			  phone:<input type="text" name="phone"id="phoneInput"><br/>
			  <a href="/dashboard"><button type="submit">SignUp</button></a> </br>
	    </form>
	</fieldset>
	
</body>
</html>
